.container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
}

.artist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
}

.name {
  min-width: 25%;
  padding-left: 1rem;
}

.tag {
  padding-right: 1rem;
}

.genres {
  min-width: 50%;
}

.table {
  overflow-y: auto;
  white-space: nowrap;
  padding: 2rem;
  table-layout: fixed;
  margin-right: 2rem;
}

.smalltd {
  width: 8px;
  max-width: 8px;
  overflow: hidden;
}

.small-text-tr {
  font-size: 0.5rem;
}
